body {
    display:flex;
    width:100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

#editor {
    width:90%;
    height:60%;
    border: 2px solid #b0b0b0;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 110px auto 110px;
    grid-template-columns: 100%;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

#editorTop,  #editorBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}

#editorContent {
    padding-left: 30px;
    padding-right: 30px;
}

#editorView {
    width:100%;
    height: 100%;
}

#editorTopNav {
    height:36px;
    display: flex
}

#editorTopScaleNav{
   
    height: 48px;
    display: flex;
    align-items: center;
    gap:25px;
}

.fNavTopItem, .navTopItem, .lNavTopItem {
    height: 36px;
    width:50px;
    background-color: #8a8f93;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.fNavTopItem:hover, .navTopItem:hover, .lNavTopItem:hover {
    background-color: #13171a;
}

.navTopItemActive {
    background-color: #13171a;
}

.fNavTopItem img, .navTopItem img, .lNavTopItem img {
    max-width: 18px;
    max-height: 18px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(169deg) brightness(108%) contrast(101%);
}

.fNavTopItem, .navTopItem {
    border-right: 1px solid #ffffff;
}

.fNavTopItem {
    border-radius: 18px 0px 0px 18px;
}

.lNavTopItem {
    border-radius: 0px 18px 18px 0px;
}

.topFormItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.topFormItemName, .formitemVal {
    color: #13171a;

}

.formitemVal {
    height: 46px;
    border-radius: 23px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formitemValTop {
    width: 106px;
}

#opacityContainer {
   position: relative;
}

.opacityRange {
    appearance :none;
    background-image: -webkit-linear-gradient(90deg, #e2e2e2, #13171a) !important; /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(90deg, #e2e2e2, #13171a) !important; /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(90deg, #e2e2e2, #13171a) !important; /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(90deg, #e2e2e2, #13171a) !important; /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(90deg, #e2e2e2, #13171a) !important; /* Standard syntax; must be last */
    height: 8px;
    border-radius: 4px;
    cursor: pointer;
    width:200px;
}

.opacityRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    border: 2px solid #13171a;
    border-radius: 16px;
    background: #ffffff;
    box-shadow: none;
    
  }
  .opacityRange::-moz-range-thumb {
    width: 32px;
    height: 32px;
    border: 2px solid #020202;
    border-radius: 16px;
    background: #ffffff;
    box-shadow: none;
   
  }
  .opacityRangeValue {
    position: absolute;
    right: 4px;
    top: 3px;
    font-size: 12px;
    color:#13171a;
  }


.editorButton, .circleNav {
    height: 32px;
    border-radius: 16px;
    background-color: #8a8f93;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffffff;
    font-size: 14px;
}

.circleNav {
    width:32px;
}
.circleNav img {
    width:18px;
    height:18px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(169deg) brightness(108%) contrast(101%);
}

.circleNav:hover, .editorButton:hover {
    background-color: #13171a;
}

#leftBottomNav, #rightBottomNav {
    display: flex;
    flex-direction: row;
    gap:3px
}

#planNav {
    display: flex;
    align-items: center;
    gap:4px;
}

#addPlanBt {
    width:146px;
}
#plansList {
    width:192px;
}
#editPlanBt {
    width:20px;
    height:20px;
    cursor:pointer;
}
#editPlanBt img{

    filter: brightness(0) saturate(100%) invert(0%) sepia(96%) saturate(7485%) hue-rotate(111deg) brightness(89%) contrast(98%);
}