<div class="circleNav" data-command="{click: fullScreenOnCommand}" data-bind="{class: fullScreenOnClass}">
    <img alt="fullScreenOn" src="../assets/fullscreen_on.svg" >
</div>
<div class="circleNav" data-command="{click: centerCommand}" data-bind="{class: centerClass}">
    <img alt="Center" src="../assets/200-2.svg" >
</div>
<div class="circleNav" data-command="{click: zoomInCommand}" data-bind="{class: zoomInClass}">
    <img alt="ZoomIn" src="../assets/200-3.svg" >
</div>
<div class="circleNav" data-command="{click: zoomOutCommand}" data-bind="{class: zoomOutClass}">
    <img alt="ZoomOut" src="../assets/200-4.svg" >
</div>
<div class="circleNav" data-command="{click: set3DCommand}" data-bind="{class: set3DClass}">
    <img alt="cancel" src="../assets/200-5.svg" >
</div>
<div class="circleNav"></div>
<div class="circleNav" data-command="{click: downloadCommand}" data-bind="{class: downloadDClass}">
    <img alt="cancel" src="../assets/202-6.svg" >
</div>