<div class="circleNav">
    <img alt="cancel" src="../assets/fullscreen_on.svg" >
</div>
<div class="circleNav">
    <img alt="cancel" src="../assets/200-2.svg" >
</div>
<div class="circleNav">
    <img alt="cancel" src="../assets/200-3.svg" >
</div>
<div class="circleNav">
    <img alt="cancel" src="../assets/200-4.svg" >
</div>
<div class="circleNav">
    <img alt="cancel" src="../assets/200-5.svg" >
</div>
<div class="circleNav"></div>
<div class="circleNav">
    <img alt="cancel" src="../assets/202-6.svg" >
</div>