<div class="circleNav">
    <img alt="display" src="../assets/display_d1.svg" >
</div>
<div class="circleNav">
    <img alt="display" src="../assets/display_d2.svg" >
</div>
<div class="circleNav">
    <img alt="display" src="../assets/display_d3.svg" >
</div>
<div class="circleNav">
    <img alt="display" src="../assets/display_d4.svg" >
</div>
<div class="circleNav">
    <img alt="display" src="../assets/display_d5.svg" >
</div>
<div class="circleNav">
    <img alt="display" src="../assets/display_d6.svg" >
</div>
<div class="circleNav">
    <img alt="display" src="../assets/display_d7.svg" >
</div>
<div class="circleNav">
    <img alt="display" src="../assets/display_d8.svg" >
</div>
<div class="circleNav">
    <img alt="display" src="../assets/display_d9.svg" >
</div>
<div class="circleNav">
    <img alt="display" src="../assets/display_d10.svg" >
</div>
<div class="circleNav">
    <img alt="display" src="../assets/display_d11.svg" >
</div>