<div class="circleNav" data-command="{click: planDisplayCommand}" data-bind="{class: planDisplayClass}">
    <img alt="planDisplay" src="../assets/display_d1.svg" >
</div>
<div class="circleNav" data-command="{click: gridDisplayCommand}" data-bind="{class: gridDisplayClass}">
    <img alt="gridDisplay" src="../assets/display_d2.svg" >
</div>
<div class="circleNav" data-command="{click: roomDisplayCommand}" data-bind="{class: roomDisplayClass}">
    <img alt="roomDisplay" src="../assets/display_d3.svg" >
</div>
<div class="circleNav" data-command="{click: iotDisplayCommand}" data-bind="{class: iotDisplayClass}">
    <img alt="iotDisplay" src="../assets/display_d4.svg" >
</div>
<div class="circleNav" data-command="{click: devicesDisplayCommand}" data-bind="{class: devicesDisplayClass}">
    <img alt="display" src="../assets/display_d5.svg" >
</div>
<div class="circleNav" data-command="{click: eqDisplayCommand}" data-bind="{class: eqDisplayClass}">
    <img alt="display" src="../assets/display_d6.svg" >
</div>
<div class="circleNav" data-command="{click: doorDisplayCommand}" data-bind="{class: doorDisplayClass}">
    <img alt="display" src="../assets/display_d7.svg" >
</div>
<div class="circleNav" data-command="{click: windowDisplayCommand}" data-bind="{class: windowDisplayClass}">
    <img alt="display" src="../assets/display_d8.svg" >
</div>
<div class="circleNav" data-command="{click: metterDisplayCommand}" data-bind="{class: metterDisplayClass}">
    <img alt="display" src="../assets/display_d11.svg" >
</div>
<div class="circleNav" data-command="{click: trackDisplayCommand}" data-bind="{class: trackDisplayClass}">
    <img alt="display" src="../assets/display_d9.svg" >
</div>
<div class="circleNav" data-command="{click: edgeDisplayCommand}" data-bind="{class: edgeDisplayClass}">
    <img alt="display" src="../assets/display_d10.svg" >
</div>
