<div id="editor">
    <div id="editorTop">

            <div id="editorTopNav" data-bind="{innerHtml: toolsNavigation}">
                
            </div>
            
            <div id="editorTopScaleNav" data-bind="{innerHtml: scaleNavigation}">

            </div>

    </div>
    <div id="editorContent">
        <div id="editorView"></div>
    </div>
    <div id="editorBottom">
        
        <div id="leftBottomNav" data-bind="{innerHtml: bottomNavigation}">
           
        </div>

        <div id="planNav" data-bind="{innerHtml: planNavigation}">

            
        </div>

        <div id="rightBottomNav" data-bind="{innerHtml: displayNavigation}">
           
        </div>

    </div>
</div>