<div class="topFormItem">

    <div class="topFormItemName">Skala</div>
    <div class="formitemVal formitemValTop">
        <span data-bind="{innerText: currentScale}"></span>
    </div>

</div>

<div class="topFormItem">

    <div class="topFormItemName">Zoom</div>
    <div class="formitemVal formitemValTop">
        <span data-bind="{innerText: currentZoom}"></span>
    </div>

</div>

<div id="opacityContainer">
    <input class="opacityRange" type="range" min="0" max="100" step="1" value="100" data-bind="{value: opacityValue, bindWay: both}">
    <div class="opacityRangeValue" data-bind="{innerText: opacityValuePercent}"></div>
</div>