<div class="fNavTopItem navTopItemActive">
    <img alt="select" src="../assets/ed1.svg" >
</div>
<div class="navTopItem">
    <img alt="move" src="../assets/ed2.svg" >
</div>
<div class="navTopItem">
    <img alt="line" src="../assets/ed3.svg" >
</div>
<div class="navTopItem">
    <img alt="rectangle" src="../assets/ed4.svg" >
</div>
<div class="navTopItem">
    <img alt="rectangle" src="../assets/ed5.svg" >
</div>
<div class="navTopItem">
    <img alt="rectangle" src="../assets/ed6.svg" >
</div>
<div class="navTopItem">
    <img alt="rectangle" src="../assets/ed7.svg" >
</div>
<div class="navTopItem">
    <img alt="rectangle" src="../assets/ed8.svg" >
</div>
<div class="navTopItem">
    <img alt="rectangle" src="../assets/ed9.svg" >
</div>
<div class="navTopItem">
    <img alt="rectangle" src="../assets/ed10.svg" >
</div>
<div class="navTopItem">
    <img alt="rectangle" src="../assets/ed11.svg" >
</div>
<div class="navTopItem">
    <img alt="undo" src="../assets/undo_icon.svg" >
</div>
<div class="navTopItem">
    <img alt="redo" src="../assets/redo_icon.svg" >
</div>
<div class="navTopItem">
    <img alt="delete" src="../assets/trash_icon.svg" >
</div>
<div class="lNavTopItem">
    <img alt="cancel" src="../assets/x_icon.svg" >
</div>