<div class="fNavTopItem" data-command="{click: selectCommand}" data-bind="{class: selectClass}">
    <img alt="select" src="../assets/ed1.svg" >
</div>
<div class="navTopItem" data-command="{click: moveCommand}" data-bind="{class: moveClass}">
    <img alt="move" src="../assets/ed2.svg" >
</div>
<div class="navTopItem" data-command="{click: freeCommand}" data-bind="{class: freeClass}">
    <img alt="free" src="../assets/ed3.svg" >
</div>
<div class="navTopItem" data-command="{click: rectangleCommand}" data-bind="{class: rectangleClass}">
    <img alt="rectangle" src="../assets/ed4.svg" >
</div>
<div class="navTopItem" data-command="{click: rectangleCenterCommand}" data-bind="{class: rectangleCenterClass}">
    <img alt="rectangleCenter" src="../assets/ed5.svg" >
</div>
<div class="navTopItem" data-command="{click: circleCommand}" data-bind="{class: circleClass}">
    <img alt="Circle" src="../assets/ed6.svg" >
</div>
<div class="navTopItem" data-command="{click: circleCenterCommand}" data-bind="{class: circleCenterClass}">
    <img alt="CircleCenter" src="../assets/ed7.svg" >
</div>
<div class="navTopItem" data-command="{click: addPointCommand}" data-bind="{class: addPointClass}">
    <img alt="AddPoint" src="../assets/ed8.svg" >
</div>
<div class="navTopItem" data-command="{click: removePointCommand}" data-bind="{class: removePointClass}">
    <img alt="RemovePoint" src="../assets/ed9.svg" >
</div>
<div class="navTopItem" data-command="{click: roundupCommand}" data-bind="{class: roundupClass}">
    <img alt="RoundUp" src="../assets/ed10.svg" >
</div>
<div class="navTopItem" data-command="{click: measureCommand}" data-bind="{class: measureClass}">
    <img alt="measure" src="../assets/ed11.svg" >
</div>
<div class="navTopItem" data-command="{click: undoCommand}" data-bind="{class: undoClass}">
    <img alt="undo" src="../assets/undo_icon.svg" >
</div>
<div class="navTopItem" data-command="{click: redoCommand}" data-bind="{class: redoClass}">
    <img alt="redo" src="../assets/redo_icon.svg" >
</div>
<div class="navTopItem" data-command="{click: deleteCommand}" data-bind="{class: deleteClass}">
    <img alt="delete" src="../assets/trash_icon.svg" >
</div>
<div class="lNavTopItem" data-command="{click: cancelCommand}" data-bind="{class: cancelClass}">
    <img alt="cancel" src="../assets/x_icon.svg" >
</div>